*{
   
   
    padding: 0;
        
    
    margin: auto;  
   
}
/*.center  {
    position:fixed;
    left: 25%;
    top: 0%;  
}*/

/*body{
    text-align: center;
    background: white;
    
}
h1 {
    font-size: 2em;
    text-align: center;
}
p{
    text-align: left;
}
.Backbtn{
    visibility: hidden;
}*/
