*{
    overflow-x: hidden;
    width: 90%;
    margin: auto;

}

div{
    background-color: white;
    
}

body{
    background-color: #292929 !important;
    background-image: url(../realBackground.png);
    
    text-align: center;
}

h1 {
    font-size:   4em;
    text-align: center;
}

p{
    font-size: 2.4em;
    text-align: left;
}

.Backbtn{
    
    line-height: 100px;
    text-decoration: none;
    font-size:  3em;
    color: red;
    border: 1px solid transparent;
    transition: .6s ease;

    width: 25%;
    margin: 30px;
    display: inline-block;
    
}

.Backbtn:hover{
    
    color: black;
    font-size: 4em;
    border: 5px solid red;
    
    
}