*{
    overflow-x: hidden;
    width: 95%;
    margin: auto;  
}
body{
    text-align: center;
}
h1 {
    font-size: 2em;
    text-align: center;
}
p{
    text-align: left;
}
.Backbtn{
    visibility: hidden;
}
